@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.nav{
    height: 160px;
    background-color: black;
    padding: 5px;
}

.nav>img{
    float: left;
    max-height: 150px;
    margin-left: 20px;
    margin-top: 5px;
}

.nav>ul{
    float: right;
    margin-right: 100px;
    line-height: 130px;
}

.nav>h1{
    float: left;
    color: rgb(148, 5, 60);
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.nav>ul li{
    display:inline;
    margin-right:25px; /* spacing between each menu item */
    color:white;
}

.thelink{
    text-decoration:none;
    position:relative;
    color:white;
    padding-bottom:8px; /*spacing between each menu item and arrow underline beneath it */
    text-decoration:none;
    transition: 300ms all;
}

.nav>ul li:hover{
    color: rgb(148, 5, 60)
}

.shop{
    display: inline;
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
}